{% extends 'layout.html.twig' %}


{% block main %}
    <div class="container container-fluid">

        <h1>Annonces index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.name }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>
                        <a href="{{ path('annonces_edit', {'id': annonce.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune annonce</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('annonces_new') }}">Créer annonce</a>
    </div>
{% endblock %}
