{% extends 'layout.html.twig' %}


{% block main %}
    <div class="globalContainer container container-fluid">

        <h1>Mes annonces</h1>

            <table class="table ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for annonce in annonces %}
                    <tr>
                        <td>{{ annonce.id }}</td>
                        <td>{{ annonce.name }}</td>
                        <td>{{ annonce.description }}</td>
                        <td>
                            <a href="{{ path('annonces_edit', {'id': annonce.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Vous n'avez pas encore d'annonce</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('annonces_new') }}">Créer une annonce</a>
    </div>
{% endblock %}
