
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="navContainer container-fluid">
        <a class="logoNavbarContainer navbar-brand mb-4" href="{{ path('home') }}">
            <img src="/./pictures/amalogo.png" alt="..." height="50">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navItems navbar-nav">

                <a class="navlink nav-link" href="{{ path('home') }}">Accueil</a>
                <a class="navlink nav-link" href="{{ path('annonces_index') }}">Mes annonces</a>

                {% if app.user %}
                    {% if is_granted("ROLE_USER") %}
                            <a class="navlink nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% endif %}
                {% else %}
                        <a class="navlink nav-link" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
